@charset "UTF-8";
body {
    font: 13px helvetica;
    width: 80%;
    margin: 40px auto;
    background: #eee;
    text-align: center;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-nested {
    background: #fff;
    /*border: 2px solid #444;*/
    text-align: left;
}
.table-nested th, .table-nested td {
    padding: 0;
}
.table-nested th + th, .table-nested th + td, .table-nested td + th, .table-nested td + td {
    padding-left: 5px;
}
.table-nested td {
    /*border-top: 1px solid;*/
}
.table-nested td[colspan] {
    border: none;
}
.table-nested .cell-input {
    /*width: 20px;*/
   /* border-right: 1px solid;*/
}
.table-nested .cell-members {
    width: 100px;
}
.table-nested .indent {
    display: inline-block;
}
.table-nested .parent > .cell-name {
    cursor: pointer;
}
.table-nested .parent > .cell-name > .indent {
    margin-right: 5px;
}
.table-nested .parent > .cell-name > .indent:before {
    content: "ï”";
    font-family: FontAwesome;
    display: inline-block;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.table-nested .children {
    display: none;
}
.table-nested .opened > tr > .cell-name > .indent:before {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.table-nested .opened > .children {
    display: table-row;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{padding:0;line-height: 40px;text-align: center;}
.childTable td{border:1px solid #ccc;padding:0;margin:0;}
